* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.ttf') format('woff2'),
         url('ruta/a/poppins-ExtraBold.ttf') format('woff');
}

@font-face {
    font-family: 'poppins-Light';
    src: url('fonts/Poppins-Light.ttf') format('woff2'),
         url('ruta/a/poppins-Light.ttf') format('woff');
}


.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.overlay-text {
    color: #e98f2d;
    font-size: 30px;
    font-family: 'poppins-ExtraBold';
    font-weight: 400;
}

.overlay-paragraph {
    color: #ffffff;
    font-size: 14px;
    font-family: 'poppins-ExtraBold';
    text-align: center;
}

@media (max-width: 768px) {
    .overlay {
        top: 70%; 
    }
}




